<div class="container-fluid">
  <div class="float-right">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search for ID or NAME"
             aria-label="search" aria-describedby="basic-addon2" [(ngModel)]="searchIdName">
    </div>
  </div>
  <table class="table table-fixed table-bordered">
    <thead class="thead-dark">
    <tr class="text-center">
      <th class="col-1" scope="col">ID</th>
      <th class="col-1" scope="col">NAME</th>
      <th class="col-2" scope="col">ORGANIZATION</th>
      <th class="col-2" scope="col">PURPOSE</th>
      <th class="col-2" scope="col">ARRIVE</th>
      <th class="col-2" scope="col">LEAVE</th>
      <th class="col-2" scope="col">TO MEET</th>
    </tr>
    </thead>
    <tbody>
    <tr class="tr" *ngFor="let history of historyList | historyFilter : searchIdName">
      <td class="col-1 text-center">{{history.visitorSchedule.visitorInfo.visitorId}}</td>
      <td class="col-1">{{history.visitorSchedule.visitorInfo.name}}</td>
      <td class="col-2">{{history.visitorSchedule.visitorInfo.organization}}</td>
      <td class="col-2">{{history.visitorSchedule.purpose}}</td>
      <td class="col-2 text-center">{{history.visitorHistoryId.arrivedDateTime | date: 'short'}}</td>
      <td class="col-2 text-center">{{history.leavingDateTime | date: 'short'}}</td>
      <td class="col-2">{{history.visitorSchedule.employee.fullname}}</td>
    </tr>
    </tbody>
  </table>
</div>
