<div class="row">
  <div class="col-6">
    <form #scheduleForm="ngForm" (ngSubmit)="sendVisitorSchedule(scheduleForm)">
      <div class="form-group row">
        <label for="visitorId" class="col-3 col-form-label">ID</label>
        <div class="col-9">
          <div class="input-group mb-3">
            <input required #VisitoridInput="ngModel"
                   [(ngModel)]="visitorId" name="visitorId" type="number"
                   class="form-control" id="visitorId" placeholder="*********">
            <span class="input-group-append">
              <span class="input-group-text" id="basic-addon2">v</span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="visitorName" class="col-3 col-form-label">NAME</label>
        <div class="col-9">
          <input required #visitorNameInput="ngModel" [(ngModel)]="name" name="name" type="text" class="form-control"
                 id="visitorName"
                 placeholder="visitor name">
        </div>
      </div>
      <div class="form-group row">
        <label for="visitorName" class="col-3 col-form-label">ORGANIZATION</label>
        <div class="col-9">
          <input required #organizationInput [(ngModel)]="organization" name="organization" type="text"
                 class="form-control"
                 id="visitorOrganization"
                 placeholder="organization">
        </div>
      </div>
      <div class="form-group row">
        <label for="purpose" class="col-3 col-form-label">PURPOSE</label>
        <div class="col-9">
          <textarea required #purposeInput="ngModel" [(ngModel)]="purpose" name="purpose" type="text"
                    class="form-control" id="purpose"
                    placeholder="purpose"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="scheduleDate" class="col-3 col-form-label">SCHEDULED DATE</label>
        <div class="col-9">
          <input required #scheduleDateInput type="text" class="form-control" placeholder="scheduled date"
                 bsDaterangepicker
                 [(ngModel)]="daterangepickerModel" placement="top"  [bsConfig]="datePickerConfig" [max]="maxDate" [min]="minDate"  name="scheduleDate" id="scheduleDate"/>
        </div>
      </div>
      <div class="float-right">
        <button  [disabled]="scheduleForm.invalid" type="submit" class="btn btn-success">CREATE</button>

      </div>

    </form>

  </div>
  <div class="col-6">
    <div class="float-right">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for ID or NAME" aria-label="search"
               aria-describedby="basic-addon2" [(ngModel)]="searchIdName">
      </div>
    </div>
    <table class="table table-fixed table-bordered">
      <thead class="thead-dark text-center">
      <tr>
        <th class="col-2" scope="col">ID</th>
        <th class="col-2" scope="col">NAME</th>
        <th class="col-2" style="font-stretch: ultra-condensed" scope="col">ORGANIZATION</th>
        <th class="col-3" scope="col">PURPOSE</th>
        <th class="col-2" scope="col">SCHEDULE</th>
        <th class="col-1" scope="col">#</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let schedule of pendingList | scheduleFilter : searchIdName">
        <td class="col-2 text-center">{{schedule.visitorInfo.visitorId}}</td>
        <td class="col-2">{{schedule.visitorInfo.name | uppercase}}</td>
        <td class="col-2">{{schedule.visitorInfo.organization | uppercase}}</td>
        <td class="col-3">{{schedule.purpose}}</td>
        <td class="col-2 text-center">{{schedule.visitorScheduleId.scheduleStartDate | date:'MMM d'}} -
          {{schedule.scheduleEndDate | date:'MMM d'}}
        </td>
        <td class="col-1">
          <button (click)="removeSchedule(schedule)" type="button" class="close btnCell" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

